<ion-header>

  <ion-navbar color="primary">
    <ion-title>Novo Curso</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form #cursoForm="ngForm" [formGroup]="form" (submit)="onSubmit();">

    <ion-item>
      <ion-label stacked> Nome do curso </ion-label>
      <ion-input type="text" formControlName="titulo"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.titulo.valid && (form.controls.titulo.dirty || form.controls.titulo.touched)" color="danger">
      <div>
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked> Objetivo do Curso </ion-label>
      <ion-textarea autosize type="text" formControlName="objetivo"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="!form.controls.objetivo.valid && (form.controls.objetivo.dirty || form.controls.objetivo.touched)"
      color="danger">
      <div>
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
        <ion-label stacked> Facilitador </ion-label>
        <ion-input type="text" formControlName="facilitador"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form.controls.facilitador.valid && (form.controls.facilitador.dirty || form.controls.facilitador.touched)"
        color="danger">
        <div>
          O campo é obrigatório
        </div>
      </ion-item>

    <ion-item>
      <ion-label stacked> Resumo Profissional do Facilitador </ion-label>
      <ion-textarea autosize type="text" formControlName="resumoProfissional"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked> Localização </ion-label>
      <ion-input type="text" formControlName="localizacao"></ion-input>
    </ion-item>

    <ion-item [hidden]="!!myDate">
      <ion-label stacked>Data</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" formControlName="data"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label stacked> Horário do Curso </ion-label>
      <ion-input type="text" formControlName="horario"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.horario.valid && (form.controls.horario.dirty || form.controls.horario.touched)"
      color="danger">
      <div>
        O campo é obrigatório
      </div>
    </ion-item>

    
    <ion-item>
      <ion-label stacked> Público Alvo </ion-label>
      <ion-textarea autosize type="text" formControlName="publicoAlvo"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="!form.controls.publicoAlvo.valid && (form.controls.publicoAlvo.dirty || form.controls.publicoAlvo.touched)" color="danger">
      <div>
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked> Temas Abordados </ion-label>
      <ion-textarea autosize type="text" formControlName="temasAbordados"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="!form.controls.temasAbordados.valid && (form.controls.temasAbordados.dirty || form.controls.temasAbordados.touched)" color="danger">
      <div>
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked> Carga Horária </ion-label>
      <ion-input type="text" formControlName="cargaHoraria"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.cargaHoraria.valid && (form.controls.cargaHoraria.dirty || form.controls.cargaHoraria.touched)" color="danger">
      <div>
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked> Investimento MEI associado </ion-label>
      <ion-input type="text" formControlName="valormeiassociado"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.valormeiassociado.valid && (form.controls.valormeiassociado.dirty || form.controls.valormeiassociado.touched)" color="danger">
      <div>
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked> Investimento MEI não associado </ion-label>
      <ion-input type="text" formControlName="valormeianaossociado"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.valormeianaossociado.valid && (form.controls.valormeianaossociado.dirty || form.controls.valormeianaossociado.touched)" color="danger">
      <div>
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked> Investimento Empresa associada </ion-label>
      <ion-input type="text" formControlName="valorempresaassociada"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.valorempresaassociada.valid && (form.controls.valorempresaassociada.dirty || form.controls.valorempresaassociada.touched)" color="danger">
      <div>
        O campo é obrigatório
      </div>
    </ion-item>
 
    <ion-item>
      <ion-label stacked> Investimento Empresa não associada </ion-label>
      <ion-input type="text" formControlName="valorempresanaoassociada"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.valorempresanaoassociada.valid && (form.controls.valorempresanaoassociada.dirty || form.controls.valorempresanaoassociada.touched)" color="danger">
      <div>
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked> Investimento Pessoa Física </ion-label>
      <ion-input type="text" formControlName="valorpessoafisica"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.valorpessoafisica.valid && (form.controls.valorpessoafisica.dirty || form.controls.valorpessoafisica.touched)" color="danger">
      <div>
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked> Link Para Inscrição </ion-label>
      <ion-input type="text" formControlName="link"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.link.valid && (form.controls.link.dirty || form.controls.link.touched)" color="danger">
      <div>
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item (click)="openGallery()">
      <ion-label style="color:#999" stacked>Imagem:&nbsp; &nbsp;Escolha uma imagem</ion-label>
      <ion-input style="visibility: hidden;" formControlName="imagem" value="{{this.curso.imagem}}"></ion-input>
    </ion-item>

    <div *ngIf="this.curso.imagem" class="imagem">
      <img [src]='this.curso.imagem' />
    </div>

    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid"> Salvar </button>
    </div>

  </form>
</ion-content>