<ion-header>

  <ion-navbar color="primary">
    <ion-title>Novo Curso</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form #cursoForm="ngForm" [formGroup]="form" (submit)="onSubmit(); cursoForm.reset(); curso.imagem = '';">

    <ion-item>
      <ion-label stacked> Nome do curso </ion-label>
      <ion-input type="text" formControlName="titulo"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.titulo.valid && (form.controls.titulo.dirty || form.controls.titulo.touched)" color="danger">
      <div>
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked> Descrição do Curso </ion-label>
      <ion-input type="text" formControlName="descricao"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.descricao.valid && (form.controls.descricao.dirty || form.controls.descricao.touched)"
      color="danger">
      <div>
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked> Texto Para Notificação </ion-label>
      <ion-input type="text" formControlName="textoNotificacao"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.textoNotificacao.valid && (form.controls.textoNotificacao.dirty || form.controls.textoNotificacao.touched)"
      color="danger">
      <div>
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
        <ion-label stacked> Ministrante </ion-label>
        <ion-input type="text" formControlName="ministrante"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form.controls.ministrante.valid && (form.controls.ministrante.dirty || form.controls.ministrante.touched)"
        color="danger">
        <div>
          O campo é obrigatório
        </div>
      </ion-item>

    <ion-item>
      <ion-label stacked> Localização </ion-label>
      <ion-input type="text" formControlName="localizacao"></ion-input>
    </ion-item>

    <ion-item [hidden]="!!myDate">
      <ion-label stacked>Data</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" formControlName="data"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label stacked> Horário do Curso </ion-label>
      <ion-input type="text" formControlName="horario"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.horario.valid && (form.controls.horario.dirty || form.controls.horario.touched)"
      color="danger">
      <div>
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked> Valor do Curso </ion-label>
      <ion-input type="text" formControlName="valor"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.valor.valid && (form.controls.valor.dirty || form.controls.valor.touched)" color="danger">
      <div>
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked> Link Para Inscrição </ion-label>
      <ion-input type="text" formControlName="link"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.link.valid && (form.controls.link.dirty || form.controls.link.touched)" color="danger">
      <div>
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item (click)="openGallery()">
      <ion-label style="color:#999" stacked>Imagem:&nbsp; &nbsp;Escolha uma imagem</ion-label>
      <ion-input style="visibility: hidden;" formControlName="imagem" value="{{this.curso.imagem}}"></ion-input>
    </ion-item>

    <div *ngIf="this.curso.imagem" class="imagem">
      <img [src]='this.curso.imagem' />
    </div>

    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid"> Salvar </button>
    </div>

  </form>
</ion-content>