<ion-header >

  <ion-navbar color="primary">
    <ion-title style="text-align: center">Agendacim</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <h1>  Janeiro </h1>
    <div *ngFor= "let contact of (contacts | async)?.slice().reverse()">
    <ion-item *ngIf="contact.mes=='01'" (click)="presentModal(contact)">{{contact.dia+ " - "+contact.titulo}}</ion-item>
</div>
  </ion-list>

  <ion-list>
      <h1>  Fevereiro </h1>
    <div *ngFor= "let contact of (contacts | async)?.slice().reverse()">
    <ion-item *ngIf="contact.mes=='02'" (click)="presentModal(contact)">{{contact.dia+ " - "+contact.titulo}}</ion-item>
</div>
  </ion-list>

  <ion-list>
      <h1>  Março </h1>
    <div *ngFor= "let contact of (contacts | async)?.slice().reverse()">
    <ion-item *ngIf="contact.mes=='03'" (click)="presentModal(contact)">{{contact.dia+ " - "+contact.titulo}}</ion-item>
</div>
  </ion-list>
    <ion-fab bottom right>
      <button ion-fab color="primary" (click)="newNoticia()">Button</button>
    </ion-fab>
</ion-content>
