<ion-header>

  <ion-navbar color="primary">
    <ion-title style="text-align: center">AgendACIM</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <div *ngFor="let agenda of agendas.slice().reverse();">
      
      <div *ngFor="let evento of agenda; index as i">
          <h1 *ngIf="i == 0">{{evento.nomeMes}}</h1>
        <ion-item (click)="presentModal(evento)">
          <ion-label style="white-space: normal;">{{"Dia "+evento.dia+" ("+ evento.horario+"h)"+" - "+evento.titulo}}</ion-label>
        </ion-item>
        <br/>
      </div>
    </div>
  </ion-list>

  <!--  <ion-fab bottom right>
      <button ion-fab color="primary" (click)="newNoticia()">Button</button>
    </ion-fab> -->
</ion-content>
