page-modalagenda {

  p{
    font-size: 1.6rem;
    text-align: justify;
  }
  .float-ion-button{
    float: left;
}

.fullWidth{
    width: 100%;
    text-align: center !important;
    color: white;
}
.toolbar-title-md {
  padding: 5px;
}

.label-title {
  text-overflow: inherit;
  white-space: normal;
  text-align: center !important;
  color: white;
  font-size: 1.6rem;
  display: block;
  margin-left: 8%;
  width: 92%;
}
}
