<ion-header>

  <ion-navbar color="primary">
    <ion-title style="text-align: center">CapacitACIM</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-card *ngFor="let curso of (cursos | async)?.slice()">

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/acim.jpg" />
        </ion-avatar>
        <label class="label-title">{{curso.titulo}}</label>

        <p>{{curso.ministrante}}</p>
      </ion-item>

      <img src="{{curso.imagem}}" />

      <ion-card-content>
        <div id="div1">{{curso.data}}</div>
        <div id="div2">{{curso.horario}}</div>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-start clear small (click)="presentModal(curso)">
            <ion-icon name="more"></ion-icon>
            <div>Ler mais</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start clear small (click)="whatsappShare(curso)">
            <ion-icon name="share"></ion-icon>
            <div>Compartilhar</div>
          </button>
        </ion-col>

      </ion-row>

    </ion-card>
  </ion-list>

<div *ngIf="vazio == true">
  <h3 style="position: absolute; top: 30%; margin: 10%; text-align: center; font-weight: bold;">Os Cursos Ofertados Aparecerão Nesta Área</h3>
</div>

  <!--<ion-fab bottom right>
    <button ion-fab color="primary" (click)="novoCurso()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab> -->

</ion-content>
