
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form #noticiaForm="ngForm" [formGroup]="form" (submit)="onSubmit(); noticiaForm.reset(); contact.imagem = '';">

    <ion-item>
      <ion-label stacked> Autor </ion-label>
      <ion-input type= "text" formControlName="autor"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.autor.valid && (form.controls.autor.dirty || form.controls.autor.touched)" color="danger">
      <div>
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked> Título </ion-label>
      <ion-input type= "text" formControlName="titulo"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.titulo.valid && (form.controls.titulo.dirty || form.controls.titulo.touched)" color="danger">
      <div>
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked> Texto Completo </ion-label>
      <ion-textarea autosize type= "text" formControlName="textoCompleto"></ion-textarea>
    </ion-item>

    <ion-item [hidden]="!!myDate">
          <ion-label>Date</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" formControlName="horario"></ion-datetime>
        </ion-item>

        <ion-item (click)="openGallery()">
          <ion-label style="color:#999" stacked>Imagem:&nbsp; &nbsp;Escolha uma imagem</ion-label>
          <ion-input style="visibility: hidden;" formControlName="imagem" value="{{this.contact.imagem}}"></ion-input>
        </ion-item>
    
        <div *ngIf="this.contact.imagem" class="imagem">
          <img [src]='this.contact.imagem' />
        </div>

    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid"> Salvar </button>
      </div>

  </form>
</ion-content>
